.control-button {
  margin: 20px;
  padding: 15px;
  min-width: 250px;
  color: #ff7200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: 4px solid #ff7200;
  border-radius: 10px;
  outline: none;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #ffffff;
    border: 4px solid #ffffff;
    background-color: #ff7200;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.choose-button {
  margin: 15px;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  border: 4px solid #ff7200;
  border-radius: 10px;
  outline: none;
  background-color: #ff7200;

  &:hover {
    color: #ff7200;
    border: 4px solid #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    transform: scale(1.05);
  }

  &-active {
    margin: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    border: 4px solid #ffffff;
    outline: none;
    background-color: #ff7200;
    transform: scale(1);
  }
}
